@model step_up.Models.Subscription

@{
    ViewData["Title"] = "Удалить абонемент";
}

<h1>Удаление</h1>

<h3>Вы уверены, что хотите удалить данные?</h3>
<div>
    <h4>Subscription</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfClasses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfClasses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationInDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationInDays)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
